<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Review</title>
  <link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet" />
  
  <link rel="stylesheet" href="../../css/review.css">
  <script src="https://kit.fontawesome.com/f815347d2a.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="mySidenav" class="sidenav">
    <p class="logo"><span>R</span>ental Zone</p>
    <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
    <a href="#"class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Users</a>
    <a href="#"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Rooms</a>
    <a href="#"class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Bookings</a>
    <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Reviews</a>
    <a href="#"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Log Out</a>

</div>
<div id="main">

	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: rgb(0, 0, 0);" class="nav"  >&#9776;  Reviews</span>
<span style="font-size:30px;cursor:pointer; color: rgb(0, 0, 0);" class="nav2"  >&#9776; Reviews</span>
</div>
	
	<div class="col-div-6">
	
</div>
	<div class="clearfix"></div>
</div>

	<div class="clearfix"></div>
	<br/>
	
	
	<div class="col-div-8">
		<div class="box-8">
		<div class="content-box">
			
			
  <table class="appointments">
    <thead>
        <td>Room Id</td>
        <td>Owner</td>
        <td>User</td>
        <td>Rate</td>
        <td>Date</td>
    </thead>
    <tbody>
        <tr>
          <td>1</td>
            <td>Jenish Neupane</td>
            <td>Customer</td>
            <td>5</td>   
            <td>20/05/2022</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jenish Neupane</td>
          <td>Customer</td>
          <td>5</td>   
          <td>20/05/2022</td>
                
            </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Jenish Neupane</td>
          <td>Customer</td>
          <td>5</td>   
          <td>20/05/2022</td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>
                
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
    <!-- <nav class="info_owner"></nav>
    <main class="mainCCC">
      <label class="info_owner">Review</label><br />

      <table class="table-content">
        <tr>
          <th>Room ID</th>
          <th>Owner</th>
          <th>User</th>
          <th>Rate</th>
          <th>Date</th>
          <th>Address</th>
        </tr>
        
        <tr>
          <td>1</td>
          <td>Rohan</td>
          <td>Kapil</td>
          <td>8</td>
          <td>date</td>
          <td>Kathmandu</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Rohan</td>
          <td>Kapil</td>
          <td>6</td>
          <td>date</td>
          <td>Kathmandu</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rohan</td>
          <td>Kapil</td>
          <td>10</td>
          <td>datw</td>
          <td>Kathmandu</td>
        </tr>
      </table>
    </main>
  </div> -->
</body>

</html>
